* {
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1.25rem;
  margin: 0;
  font-size: 18px;
  text-decoration: none; 
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, 
              transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background:#444444;
}

/* button:focus {
  background: #888888;
} */

/* button:active {
  transform: scale(0.99);
} */


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  .cardContainer {
    padding-left: calc((100% - 350px)/2);
  }
}

@media screen and (min-width: 801px) and (max-width: 1199px) {
  .cardContainer {
    padding-left: calc((100% - 720px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .cardContainer {
    padding-left: calc((100% - 1090px)/2);
  }
}
