* {
  box-sizing: border-box;
}

button {
  margin-top: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  .cardContainer {
    padding-left: calc((100% - 350px)/2);
  }
}

@media screen and (min-width: 801px) and (max-width: 1199px) {
  .cardContainer {
    padding-left: calc((100% - 720px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .cardContainer {
    padding-left: calc((100% - 1090px)/2);
  }
}
